body {
    background-color: khaki;
    grid-gap: 20px;
}

#itemsCheck {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 2fr);
    grid-gap: 20px;
}

#itemsCheck select, #itemsCheck textarea, #itemsCheck input {
    border-radius: 5px;
}

#itemsCheck select, #itemsCheck input {
    height: 25px;
}

#itemsCheck select:first-child {
    grid-column: 1 / 3;
}

.itemsCheck {
    grid-column: 1 / -1;
}

#itemsCheck textarea {
    height: 50px;
}

.but {
    grid-column: 1 / 3;
}

.butclear {
    grid-column: 3 / -1;
}


.refund {
    display: none;
}

#ticket:not(.taxes) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: start;
    grid-gap: 20px;
    margin: 5px 0;
}

.refund-active:not(.ticketnumber),
.refund-active:not(.newticketnumber) {
    display: grid;
}

.ticket, .emd {
    display: none;
}

.ticket-active:not(#taxes) {
  display: grid;
}


#ticket input, textarea {
    border-radius: 5px;
    height: 20px;
}

#ticket select {
    border-radius: 5px;
    height: 25px;
}

#ticket div {
    grid-gap: 5px;
}

#ticket div:nth-child(1), 
div:nth-child(2), 
div:nth-child(3), 
div:nth-child(4), 
div:nth-child(5), 
div:nth-child(6),
div:nth-child(7) {
    grid-column: 1 / 7;
}

#ticket textarea {
    height: 100px;
}

#ticket #taxes {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column: 1 / -1;
    grid-gap: 10px;
}

#ticket .taxes {
    display: none;
}

input.taxes {
    min-width: 10px;
}


.mandatory {
    border: 2px solid red;
}