body {
}

.container {
	margin-top: 1rem;
	width: 50%;
	display: none;
}

.container-fluid {
	width: 80%;
	margin-top: 1rem;
	/* border: 1px solid blue; */
}

.first-block,
.third-block,
.fourth-block,
.container {
	background-color: coral;
	border-radius: 0.5rem;
}

.width {
	width: 100%;
}

.dropdown-menu {
	border: 1px solid black;
}
